/* Styles */
html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

html, body, #root, .container-loading {
	height: 100%;
}

.app-container {
  padding-left: 10px;
  padding-right: 10px;
}

.nav-item {
  display: inline-flex;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none !important;
}

.nav-item:hover {
  background-color: rgba(0,0,0,0.1);
}

.container-loading {
	display: table;
	table-layout: fixed;
	width: 100%;
}

.loading {
	width: 100px;
	height: 100px;
	margin: 0 auto;
}

.loading-row {
	background-color: #fff;
	min-height: 100%;
	height: 100%;
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	width: 100%;
}

.loading div {
	width: inherit !important;
}

.loading svg {
	display: block;
	width: 100px;
	margin: 0 auto;
}

.h1-loading {
	color: #fff;
	font-size: 6rem;
	line-height: 8rem;
}

.chat-container {
  position: fixed;
  padding-top: 20px;
}

#messages-card {
  height: 100%;
  padding-bottom: 0;
  margin-top: 15px;
}
#messages-card-container {
  height: calc(100% - 150px);
  padding-bottom: 0;
}

#message-container {
  display: flex;
  height: 100%;
  padding-bottom: 0;
  margin-top: 15px;
}

.message-input {
  font-size: 1.5rem !important;
}

.message-send-button {
  margin: auto;
}
