/* Styles */
html, body, #root, .container-loading {
  height: 100%;
}

#app {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  min-width: 550px;
  max-width: 850px;
  margin: 0 auto;
}

a.active {
  color: orange;
}

nav {
  padding-top: 20px;
}

.container-loading {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.loading {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.loading-row {
  background-color: #fff;
  min-height: 100%;
  height: 100%;
  display:table-cell;
  vertical-align:middle;
  text-align:center;
  width: 100%;
}

.loading div {
  width: inherit !important;
}

.loading svg {
  display: block;
  width: 100px;
  margin: 0 auto;
}

.h1-loading {
  color: #fff;
  font-size: 6rem;
  line-height: 8rem;
}

.RoomBox {
    border: 1px solid #7f8c8d;
    padding: 0;
    height: 60vh;
    overflow-y: scroll;
    margin: 20px 0;
    border-radius: 5px;
}

.ListMessage {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.ListMessage > li {
    border: 1px solid #ecf0f1;
    padding: 10px 35px;
    margin: 0;
}

.ListMessage > li > p {
    margin: 5px 0;
    position: relative;
    bottom: 0;
}

.pemail {
    font-size: 0.9em;
    color: #3498db;
}

.ptext {
    font-size: 1.1em;
    color: #2980b9;
}
